/* h1,
p {
    color: blueviolet
}


h1,
p {
    color: brown;
}

#school {
    color: chocolate;
}

.list li {
    color: blue;
} */

/* .list>li {
    color: red
} */

/* .heading~p {
    color: aqua;
} */

/* #head {
    color: magenta;
}

.heading {
    color: blue;
}

.heading {
    color: red;
}

h1 {
    color: orange !important;
} */

/* p {
    color: red;
}

span {
    color: inherit;
} */